.heading{
    font-size: 24px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.note{
    font-size: 16px;
    color: red;
}
    .copy_right_footer {
        position: fixed;
        color: rgb(0, 225, 255);
        bottom: 0;
        width: 100%;
        font-size: 25px;
        background-color: rgb(0, 0, 0);
        line-height: 3;
        text-align: center;
        text-shadow: 5px 5px 5px rgb(255, 170, 0);
        font-family:'Courier New', Courier, monospace
     }
     canvas{
        border:5px solid white;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 5px cyan;
     }

body{
    font-family: monospace;
}
span{
    color: blue;
}
h1{
    
}